* {
    box-sizing: border-box;
  }

  body{
      background-image: url('./14721.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;


  }

  .containerPOKE {
      width: 100%;
      height: 100vh;

      overflow-y: scroll;
      overflow-x: hidden;
  }